HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

.users_documents/**
users_documents/**
.users_test/**
users_test/**
g_server.log
*.docx
*.docx
*.txt
*.txt
users_test/testAdvisorFioLoginAndPassword_30.04.2021.19.29.58.txt
users_test/testAdvisorFioLoginAndPassword_30.04.2021.19.29.58.txt
users_test/testStudentFioLoginAndPassword_30.04.2021.19.30.32.txt
